<div id="entry-container" class="d-flex flex-row col-12 justify-content-end">
    <div id="entry-form" class="col-12 col-md-7 d-flex flex-column align-items-center">
        <div class="svg-div">
            <a routerLink="/login" routerLinkActive="active">
                <img id="docentify-entry-logo" class="unselectable" draggable="false"
                    src="../../../assets/docentify_entry_logo.svg">
            </a>
        </div>

        <div class="d-flex flex-column">
            <h2 class="section-title unselectable">Recuperação de Senha</h2>
            <p class="section-description unselectable">Caso tenha esquecido sua senha, insira seu e-mail de acesso
                abaixo para podermos prosseguir com seu processo de recuperação de senha!</p>

            <label class="input-label unselectable">E-mail de acesso</label>
            <input class="text-input form-control" #emailInput>

            <button class="form-control filled-entry-button submit-button"
                (click)="requestPasswordChange()">Enviar</button>
        </div>
    </div>
</div>