<div class="d-flex flex-column">
    <h2 class="section-title unselectable">Confirmação de Identidade</h2>
    <p class="section-description unselectable">Insira no campo abaixo o código que enviamos para seu e-mail!
    </p>

    <label class="input-label unselectable">Código de confirmação</label>
    <input class="text-input form-control" #codeInput maxlength="6">
    <p style="color: red" *ngIf="invalidCode">Código inválido!</p>

    <button class="form-control filled-entry-button submit-button" (click)="confirmPasswordChange()">Enviar</button>
</div>