<div class="col-12 d-flex flex-row justify-content-around align-items-center" style="height: 80vh;">
    <div class="col-3 d-flex flex-column">
        <div class="svg-div col-12">
            <img src="../../assets/user-pfp.svg" style="height: 25%;">
        </div>

        <div class="mt-2">
            <h4>Ações disponíveis</h4>
            <div>
                <a class="profile-menu-option" [routerLink]="['/treinamentos']" [queryParams]="{'progresso': 'completed'}" routerLinkActive="active">Histórico de treinamentos completos<i class="ph-bold ph-arrow-right"></i></a>
                <a class="profile-menu-option" [routerLink]="['/treinamentos']" [queryParams]="{'favoritado': 'true'}">Treinamentos favoritos <i class="ph-bold ph-arrow-right"></i></a>
                <a class="profile-menu-option" (click)="deslogar()">Logout <i class="ph-bold ph-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-6">
        <h3 class="profile-name">{{user.name}}</h3>
        <div class="profile-properties">
            <b style="color:black">Informações pessoais:</b>
            <p><span class="profile-property">Gênero:</span> {{user.gender}}</p>
            <p><span class="profile-property">Data de nascimento:</span> {{user.birthDate}}</p>
            <p><span class="profile-property">E-mail:</span> {{user.email}}</p>
            <p><span class="profile-property">Telefone:</span> {{user.telephone}}</p>
        </div>
        <div class="profile-properties">
            <b style="color:black">Informações gerais:</b>
            <p><span class="profile-property">Treinamentos finalizados:</span> {{user.completedCourses}}</p>
            <p><span class="profile-property">Treinamentos em andamento:</span> {{user.ongoingCourses}}</p>
            <p><span class="profile-property">Matrículas canceladas:</span> {{user.cancelledEnrollments}}</p>
        </div>
    </div>
</div>