.hero-section-title {
    color: #344127;
    font-size: 48px;
    font-weight: 800;
}

.hero-section-title-highlight {
    color: #142304;
}

.hero-section-text {
    color: #344127;
    font-size: 16px;
}