#login-container {
    background-color: #fcfbfb;

    padding-left: 3rem;
    padding-right: 3rem;
}

@media (min-width: 768px) {
    #login-container {
        margin-left: -10vw;

        padding-left: 7rem;
        padding-right: 7rem;
    }
}

.text-input, .input-label {
    font-size: 18px;
}

.text-input {
    border-radius: 16px;
    border: 1px solid #5F9C22;
}

.input-label {
    color: #142304;
    font-weight: 800;
}

#password-reset-link {
    color: #5F9C22;
    text-decoration: underline;
}

#login-button, #register-button {
    width: 100%;
    height: 3rem;

    border-radius: 64px;

    font-weight: 800;

    border-color: #5F9C22;
}

@media (min-width: 768px) {
    #login-button, #register-button {
        width: 40%;
    }
}

#login-button {
    background-color: #5F9C22;
    color: white;
}

#register-button {
    border-width: 2px;

    color: #5F9C22;
}