<div class="d-flex col-12 align-items-center overflow-hidden justify-content-around hero-section unselectable">
    <div class="col-4 hero-section-text">
        <h2 class="hero-section-title ">RANKING</h2>
        <p>Ranking é uma classificação que organiza elementos, como pessoas, empresas ou produtos, de acordo com determinados critérios, geralmente com base em desempenho.</p>
    </div>
    <div >
        <div class="svg-div">
            <img src="../../../assets/ranking_hero.svg">
        </div>
    </div>

    
</div>
<div class="course-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 unselectable">
                <h2 class="section-title">Filtragem de Treinamentos</h2>
                <p class="section-description">Utilize os filtros ou a barra de pesquisa abaixo para encontrar os
                    treinamentos que mais se encaixam com seu objetivo e necessidade atuais.</p>
            </div>
        </div>
    </div>
</div>


