<div class="d-flex flex-column">
    <h2 class="section-title unselectable">Bem-vindo(a)!</h2>
    <p class="section-description unselectable">Faça seu login para acessar treinamentos e trilhas da sua
        Instituição de
        Ensino em um único lugar!</p>
    <form [formGroup]="form" class="d-flex flex-column h-75 mt-3">
        <label class="input-label unselectable" for="email-input">E-mail de acesso</label>
        <input formControlName="email" class="text-input form-control">
        <div class="error"
            *ngIf="form.get('email')!.invalid && (form.get('email')!.dirty || form.get('email')!.touched)">
            <div *ngIf="form.get('email')!.errors?.['required']">E-mail é obrigatório</div>
            <div *ngIf="form.get('email')!.errors?.['email']">E-mail não é um e-mail válido</div>
        </div>

        <label class="input-label mt-3 unselectable" for="password-input">Senha</label>
        <input formControlName="password" class="text-input form-control" type="password">
        <div class="error"
            *ngIf="form.get('password')!.invalid && (form.get('password')!.dirty || form.get('password')!.touched)">
            <div *ngIf="form.get('password')!.errors?.['required']">Senha é obrigatório</div>
        </div>
        <div class="error" *ngIf="!validLogin">
            <div>E-mail ou senha inválidos</div>
        </div>
        <a id="password-reset-link" class="unselectable" routerLink="/authentication/password-recovery"
            routerLinkActive="active">Esqueceu sua senha?</a>

        <div class="d-flex flex-column align-items-center mt-4">
            <button class="form-control filled-entry-button" [disabled]="form.invalid || processing"
                (click)="login()">Entrar</button>
            <span class="section-description my-2 unselectable">ou</span>
            <button class="form-control unfilled-entry-button" routerLink="/authentication/registration/student"
                routerLinkActive="active">Cadastrar conta</button>
        </div>
    </form>
</div>