<div class="d-flex col-12 align-items-center overflow-hidden justify-content-around hero-section unselectable">
    <div class="col-4 hero-section-text">
        <h2 class="hero-section-title ">APRENDA EM UM <span class="hero-section-title-highlight">ÚNICO LUGAR</span></h2>
        <p>Bem-vindo(a) à nossa plataforma de treinamentos! Estamos entusiasmados em tê-lo(a) aqui e prontos para ajudar
            na sua jornada de desenvolvimento profissional.</p>
    </div>
    <div >
        <div class="svg-div">
            <img src="../../../assets/home_hero.svg">
        </div>
    </div>
</div>

<div class="course-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title unselectable">Em andamento</h2>
            </div>
        </div>
        <div class="row course-card-carousel-div">
            <course-card-carousel [amountPerPage]="4">
                <div  class="course-card" *ngFor="let course of courses" >
                    <course-card [course]="course"></course-card>
                </div>
            </course-card-carousel>
        </div>
    </div>
</div>


<div class="course-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title unselectable">Novos na Plataforma</h2>
            </div>
        </div>
        <div class="row" >
            <div class="col-12 row-gap-3 content">
                <div class="course-card" *ngFor="let course of courses" >
                    <course-card [course]="course"></course-card>
                </div>
            </div>
        </div>
    </div>
</div>