<div class="layout-wrapper">
  <button class="hamburger-btn" (click)="toggleSidebar()">☰</button>

  <nav class="sidebar" [class.open]="sidebarOpen">
    <ul>
      <li routerLink="/institution/home" routerLinkActive="active">Gerenciar Cursos</li>
      <li routerLink="/institution/step" routerLinkActive="active">Trilha de Criação</li>
      <li routerLink="/institution/associatestudent" routerLinkActive="active">Associados</li>
      <li routerLink="/institution/avaliacoes" routerLinkActive="active">Avaliações</li>

      <li (click)="deslogar()"> <i class="ph-bold ph-sign-out"></i>
        Sair</li>

    </ul>
  </nav>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</div>