body { background-color: red;}

.dropdown-toggle::after {
    display:none;
}

.active {
    font-weight: 800 !important;

}
#navbar > .nav-link:hover {
    background-color: #06A5B8 !;
}

#navbar {
    width: 100%;

    position: sticky;
    z-index: 10;

    background-color: #FFF !important;

    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.05);
}

#navbar-search {
    border-radius: 16px;

    padding-right: 32px;
}

#navbar-search-button {
    width: 28px;
    height: 28px;

    margin-left: -32px;

    background-color: #06A5B8;

    border: none;

    z-index: 10;
}