body { 
    background-color: red;
    scroll-behavior: smooth;
    
}

.dropdown-toggle::after {
    display:none;
}

.active {
    font-weight: 800 !important;

}
#navbar > .nav-link:hover {
    background-color: #06A5B8 !;
}

#navbar {
    width: 100%;

    position: sticky;
    top:0;
    z-index: 1000;

    background-color: #FFF !important;

    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.05);
}

#footer {
    height: 8vh;

    border-top: #CBCBCB 1px solid;

    background-color: white;
}

footer span{
    cursor: default;

}

footer a svg path:hover{
    transition: all ease 0.5s;
    fill: #548623;
}

.mobile-item{
    display: none;
}

.desktop-item{
    display: block;
}

#socials-logo{
    display: flex;
}

.socials-logo-fill{
    background-color: #548623;
    margin-left: 15%;
}

@media(max-width: 480px) {
    .mobile-item{
        display: block;
    }

    .desktop-item{
        display: none;
    }

   footer span{
    font-size: 65%;
   }
}
