<div id="entry-container" class="d-flex flex-row col-12 justify-content-end">
    <div id="entry-form" class="col-12 col-md-7 d-flex flex-column align-items-center">
        <div class="svg-div">
            <a routerLink="/login" routerLinkActive="active">
                <img id="docentify-entry-logo" class="unselectable" draggable="false"
                    src="../../../assets/docentify_entry_logo.svg">
            </a>
        </div>

        <div class="d-flex flex-column">
            <h2 class="section-title unselectable">Criar uma Nova Senha</h2>
            <p class="section-description unselectable">Insira nos campos abaixo sua nova senha de acesso, assim que
                finalizar, utilize essa senha e o seu e-mail para acessar a plataforma.</p>

            <label class="input-label unselectable">Nova Senha</label>
            <input type="password" class="text-input form-control" #passwordInput>

            <label class="input-label unselectable">Repita a Senha</label>
            <input type="password" class="text-input form-control">

            <button class="form-control filled-entry-button submit-button"
                (click)="confirmPasswordChange()">Enviar</button>
        </div>
    </div>
</div>