<div class="d-flex flex-column">
    <h2 class="section-title unselectable">Recuperação de Senha</h2>
    <p class="section-description unselectable">Caso tenha esquecido sua senha, insira seu e-mail de acesso
        abaixo para podermos prosseguir com seu processo de recuperação de senha!</p>

    <label class="input-label unselectable">E-mail de acesso</label>
    <input class="text-input form-control" #emailInput>

    <button class="form-control filled-entry-button submit-button" (click)="requestPasswordChange()">Enviar</button>
</div>