/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Poppins';
    src: url('./assets/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bs-navbar-active-color: #06A5B8;
    --bs-nav-link-color: #1E1E1E;
    --bs-nav-link-hover-color: #06A5B8;
}

body {
    background-color: #f5fbef;
}

.hero-section {
    height: 50vh;

    background-color: #CBF1A5;
}

.hero-section-title {
    color: #344127;
    font-size: 48px;
    font-weight: 800;
}

.hero-section-title-highlight {
    color: #142304;
}

.hero-section-text {
    color: #344127;
    font-size: 16px;
}

.section-title {
    color: #142304;
    font-size: 24px;
}

.section-description {
    color: #666666;
}

.course-section {
    margin-top: 4vh;
}

.search-bar {
    border-radius: 16px !important;

    padding-right: 32px;
}

.search-bar-button {
    width: 28px;
    height: 28px;

    margin-left: -32px !important;

    background-color: #06A5B8;

    border: none;

    z-index: 10;
}