@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sunflower:wght@300;500;700&display=swap');

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Poppins';
    src: url('./assets/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bs-navbar-active-color: #06A5B8;
    --bs-nav-link-color: #1E1E1E;
    --bs-nav-link-hover-color: #06A5B8;
}

body {
    background-color: #fbfafa;
    overflow-x: hidden;
}

.hero-section {
    height: 50vh;

    background-color: #CBF1A5;
}

.hero-section-title {
    font-family: 'Montserrat';
    color: #344127;
    font-size: 48px;
    font-weight: 800;
}

.hero-section-title-highlight {
    font-family: 'Montserrat';

    color: #142304;
}

.hero-section-text {
    color: #344127;
    font-size: 16px;
}

.section-title {
    color: #142304;
    font-size: 24px;
}

.section-description {
    color: #666666;
}

.course-section {
    margin-top: 4vh;
}

.search-bar {
    border-radius: 16px !important;

    padding-right: 32px;
}

.search-bar-button {
    width: 28px;
    height: 28px;

    margin-left: -32px !important;

    background-color: #06A5B8;
    color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.search-bar {
    margin-left: 5%;
}

.error {
    color: red;
}

.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.search-bar-button:hover {
    transition: all ease 1s;
    background-color: #03555e;
}

@media(max-width: 480px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        height: 85%;

    }

    .hero-section img {
        position: relative;
        width: 20rem;
        height: 20rem;

    }

    .col-4 {

        height: 10rem;


    }

    .svg-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .hero-section-text h2 {
        font-size: 185%;

    }

    .hero-section-text p {
        font-size: 95%;

    }

    #treinamentos-h2 {
        font-size: 95%;
    }

    .hero-section-text {
        width: 85%;
        margin-top: 6%;
    }
}

.filled-entry-button, .unfilled-entry-button {
    width: 100%;
    height: 3rem;

    border-radius: 64px;

    font-weight: 800;

    border-color: #5F9C22;
}

@media (min-width: 768px) {
    .filled-entry-button, .unfilled-entry-button {
        width: 40%;
    }
}

.filled-entry-button {
    background-color: #5F9C22;
    color: white;
}

.filled-entry-button:disabled {
    background-color: #5f9c229a;
    color: white;
}

.filled-entry-button:hover{
    transition: all ease 0.5s;
    background-color:#437313 ;
}

.filled-entry-button:disabled:hover{
    transition: all ease 0.5s;
    background-color: #5f9c229a;
    color: white;
}

.unfilled-entry-button {
    border-width: 2px;

    color: #5F9C22;
}

.unfilled-entry-button:hover{
    transition: all ease 0.5s;
    border-color: #437313;
    color: #437313;
}

#docentify-entry-logo {
    width: 75%;
}



@media (min-width: 768px) {
    #docentify-entry-logo {
        width: 100%;
    }
}

#entry-container {
    min-height: 100vh;
    width: 100vw;

    background-image: url('./assets/login.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

#entry-form {
    background-color: #fcfbfb;

    padding-left: 3rem;
    padding-right: 3rem;
}

@media (min-width: 768px) {
    #entry-form {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

.text-input, .input-label {
    font-size: 18px;
}

.text-input {
    border-radius: 16px;
    border: 1px solid #5F9C22;
}

.input-label {
    color: #142304;
    font-weight: 800;
}

.course-required-tag {
    width: fit-content;

    padding: .5vh;

    color: #F26114;
    font-size: 85%;

    background-color: #f9cb99;

    border-radius: 4px;

    margin-bottom: 2%;
}

.course-free-tag {
    width: fit-content;

    padding: .5vh;

    color: #51673A;
    font-size: 85%;

    background-color: #BED5A7;

    border-radius: 4px;
}