.course-card-body {
    width: 20vw;
    height: 100%;

    background-color: #F5F5F5;

    border: #CBCBCB 1px solid;
    border-radius: 12px;

    cursor: pointer;

    text-decoration: none;
}

.course-required-tag {
    width: fit-content;

    padding: .5vh;

    color: #F26114;
    font-size: 85%;

    background-color: #f9cb99;

    border-radius: 4px;

    margin-bottom: 2%;
}

.course-free-tag {
    width: fit-content;

    padding: .5vh;

    color: #51673A;
    font-size: 85%;

    background-color: #BED5A7;

    border-radius: 4px;
}

.course-card-image {
    width: 100%;
    height: 8rem;
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 8px;
    margin-bottom: 4%;
    border: none;
}

.course-card-title {
    font-size: 105%;
    font-weight: 700;
    color: #1B1A1A;
}

.course-time {
    color: #676666;
    font-size: 85%;
    margin-bottom: 5%;
}

.course-time i{
    color:#06A5B8;
    
}

.course-details {
    color: #06A5B8;
    text-decoration: none;
}

.course-details:hover, .course-details svg path:hover{
    transition: all ease 1s;
    color: #03555e;
    fill: #03555e;
}


/* Mobile viewport */
@media(max-width: 480px) {
    .course-card-body {
        width: 95%;
        
      
    }
}