<div class="d-flex flex-column">
    <h2 class="section-title unselectable">Criar uma Nova Senha</h2>
    <p class="section-description unselectable">Insira nos campos abaixo sua nova senha de acesso, assim que
        finalizar, utilize essa senha e o seu e-mail para acessar a plataforma.</p>

    <label class="input-label unselectable">Nova Senha</label>
    <input type="password" class="text-input form-control" #passwordInput>

    <label class="input-label unselectable">Repita a Senha</label>
    <input type="password" class="text-input form-control">

    <button class="form-control filled-entry-button submit-button" (click)="confirmPasswordChange()">Enviar</button>
</div>